header {
  color: white;
  font-size: 16px; }

#top {
  height: 130px;
  background-color: #21a6fa; }
  #top .navbar-default, #top .navbar-toggle {
    background-color: #21a6fa;
    border: none; }

#nav-icon {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 25px; }

#nav-icon span {
  position: absolute;
  left: 0;
  top: 10px; }

#nav-icon span,
#nav-icon span:before,
#nav-icon span:after {
  position: absolute;
  display: block;
  content: '';
  height: 3px;
  width: 45px;
  background: white;
  border-radius: 1px;
  cursor: pointer; }

#nav-icon span:before {
  top: -10px; }

#nav-icon span:after {
  bottom: -10px; }

#nav-icon span, #nav-icon span:before, #nav-icon span:after {
  transition: all 500ms ease-in-out; }

#nav-icon.active span {
  background-color: transparent; }

#nav-icon.active span:before, #nav-icon.active span:after {
  top: 0; }

#nav-icon.active span:before {
  transform: rotate(45deg); }

#nav-icon.active span:after {
  transform: rotate(-45deg); }

.navbar-brand {
  position: relative;
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 90px;
  margin-top: 25px; }

.navbar-toggle {
  margin-top: 35px;
  margin-right: 25px; }

#contact {
  padding-top: 25px; }
  #contact li:first-child {
    padding-right: 70px; }
  #contact .contact-items {
    float: left; }
    #contact .contact-items .contact-em p:before {
      content: url("../img/email.png");
      padding: 15px 15px 0; }
    #contact .contact-items .contact-ph p:before {
      content: url("../img/phone.png");
      padding: 15px 15px 0; }
    #contact .contact-items .contact-ad p:before {
      content: url("../img/adress.png");
      padding: 15px 15px 0; }
    #contact .contact-items .contact-sk p:before {
      content: url("../img/skype.png");
      padding: 15px 15px 0; }
    #contact .contact-items p {
      margin-top: 10px;
      height: 30px; }

@media (max-width: 767px) {
  #contact li:first-child {
    padding-right: 0; }
  #contact .contact-em p:before {
    display: block; }
  #contact .contact-ph p:before {
    display: block; }
  #contact .contact-ad p:before {
    display: block; }
  #contact .contact-sk p:before {
    display: block; }
  .contact-items {
    float: none !important;
    text-align: center; }
    .contact-items p {
      margin-top: 20px;
      margin-bottom: 30px; }
  .navbar-collapse {
    position: relative !important;
    z-index: 1 !important;
    border: none;
    background-color: #009cff; } }

#main-footer {
  background-color: #032649;
  min-height: 320px;
  color: white;
  position: relative;
  font-size: 16px; }
  #main-footer .footer-item {
    display: table-cell;
    text-align: center;
    padding: 15px 20px; }
  #main-footer .footer-img {
    width: 70px;
    height: 75px;
    display: block;
    margin: 0 auto; }
  #main-footer #footer-info {
    margin: 0 auto; }
  #main-footer #f-phone, #main-footer #f-email, #main-footer #f-skype, #main-footer #f-adress, #main-footer #so-vk, #main-footer #so-tw, #main-footer #so-fb, #main-footer #so-gl {
    background-position: center 50px;
    background-repeat: no-repeat; }
  #main-footer #f-phone {
    background-image: url("../img/c_phone.png"); }
  #main-footer #f-email {
    background-image: url("../img/c_email.png"); }
  #main-footer #f-skype {
    background-image: url("../img/c_skype.png"); }
  #main-footer #f-adress {
    background-image: url("../img/c_adress.png"); }
  #main-footer #footer-social {
    width: 236px;
    height: 56px;
    display: block;
    margin: auto;
    clear: both; }
  #main-footer .social-item {
    width: 36px;
    height: 36px;
    padding: 50px 29px;
    display: inline-block; }
  #main-footer #so-vk {
    background-image: url("../img/soc_vk.png"); }
  #main-footer #so-tw {
    background-image: url("../img/soc_tw.png"); }
  #main-footer #so-fb {
    background-image: url("../img/soc_fb.png"); }
  #main-footer #so-gl {
    background-image: url("../img/soc_gl.png"); }
  #main-footer #footer-copiright {
    margin-top: 70px;
    text-align: center;
    font-size: 12px;
    position: relative; }

@font-face {
  font-family: 'Exo 2', sans-serif;
  src: url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo 2', sans-serif;
  src: url("../fonts/Exo2-Bold.woff") format("woff"), url("../fonts/Exo2-Bold.woff2") format("woff2"); }

html,
body,
ul,
ol,
p {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  width: 100% !important;
  border: none; }

.container {
  max-width: 1128px;
  margin: auto; }

ul {
  list-style: none; }

li {
  display: inline-block; }

h1 {
  font-weight: bold;
  font-size: 40px; }

h3 {
  font-weight: bold;
  font-size: 26px; }

button:active, button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

#top-content {
  height: 100%;
  background-color: #009cff;
  color: white;
  position: relative;
  padding-bottom: 105px; }
  #top-content:after {
    content: '';
    background: url("../img/top-cloud.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 110px;
    width: 34%;
    display: block;
    left: 66%; }
  #top-content .top-img img {
    float: right; }
  #top-content .top-text {
    margin-top: 7%; }

#features {
  padding: 5% 0 5% 0;
  font-size: 16px; }
  #features img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%; }
  #features p:before {
    content: url("../img/line-gray.png");
    margin-right: 48px; }
  #features p {
    margin: 50px;
    color: #777373; }
  #features .feature-text {
    padding-top: 2%;
    position: absolute;
    right: 6%; }

#advertising-orange {
  background-color: #e88136;
  height: 100%;
  padding: 3% 0 3% 0;
  color: white;
  text-align: justify;
  font-size: 16px; }

#advertising-grey {
  background-color: #aeaeae;
  height: 100%;
  padding: 3% 0 3% 0;
  color: white;
  text-align: justify;
  font-size: 16px; }

#advertising-blue {
  background-color: #21a6fa;
  height: 100%;
  padding: 3% 0 3% 0;
  color: white;
  text-align: justify;
  font-size: 16px;
  position: relative;
  padding-top: 0; }
  #advertising-blue p {
    padding-top: 15%; }
  #advertising-blue:before {
    content: '';
    background: url("../img/cloud.svg") repeat-x 0 0;
    position: absolute;
    height: 150px;
    width: 100%;
    display: block;
    right: 0;
    left: 0;
    transform: rotate(0.5turn); }

#advertising-white {
  background-color: white;
  height: 100%;
  padding: 3% 0 3% 0;
  color: #aeaeae;
  text-align: justify;
  font-size: 16px; }

#advertising-light-grey {
  background-color: #d3d3d3;
  height: 100%;
  padding: 3% 0 3% 0;
  color: #aeaeae;
  text-align: justify;
  font-size: 16px; }

#order .order-blank .button-rocket button, #space .button-rocket-second button, .modal .button-rocket button {
  background: transparent;
  border: none; }
  #order .order-blank .button-rocket button h3, #space .button-rocket-second button h3, .modal .button-rocket button h3 {
    color: white;
    margin-top: -14%;
    margin-right: 25%; }

#order .order-blank input, .modal input {
  width: 85%;
  border-radius: 5px;
  margin: 12px;
  height: 47px;
  border: 1px solid #d3d3d3;
  padding-left: 25px; }

#order .order-blank h1, .modal h1 {
  color: #e88136; }

#order {
  height: 610px;
  background-color: #032649;
  overflow: hidden; }
  #order .order-blank {
    background-color: white;
    border-radius: 10px;
    width: 75%;
    padding: 2%;
    text-align: center; }
  #order .order-form .keywords input {
    height: 192px; }

#scene {
  display: block; }
  #scene .order-form {
    margin-left: 25%;
    margin-top: 7%; }
  #scene .rocket-left img, #scene .rocket-right img {
    width: 500px; }
  #scene .layer.rocket-left {
    left: 65% !important;
    top: 10% !important;
    bottom: 3% !important; }

#results, #clients {
  text-align: center;
  color: #e88136; }
  #results h1, #clients h1 {
    opacity: 0.8;
    padding-top: 15px;
    padding-bottom: 30px; }

#results .owl-buttons .owl-prev, #results .owl-buttons .owl-next {
  position: absolute;
  height: 50px;
  width: 30px;
  z-index: 11111;
  bottom: 40%;
  background-repeat: no-repeat; }

#results img {
  width: 80%; }

#results .owl-buttons .owl-prev {
  background: url("../img/prew.png");
  left: 0%; }

#results .owl-buttons .owl-next {
  background: url("../img/next.png");
  right: 0%; }

#clients .clients-item img {
  max-width: 100% !important;
  height: auto !important;
  padding: 5px;
  z-index: 1;
  margin: 20px; }

#clients .clients-item img.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  #clients .clients-item img.grayscale:hover {
    -webkit-filter: none;
    filter: none;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

#clients .grayscale.grayscale-replaced > svg {
  transition: opacity 1s ease;
  opacity: 1; }

#clients .grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0; }

#space {
  background-color: #032649;
  overflow: hidden;
  height: 200px; }

#scene-button {
  display: block; }
  #scene-button .layer.button-rocket-second {
    left: 35% !important;
    top: 5% !important; }

.scrolloff {
  pointer-events: none; }

.google-map {
  position: relative;
  width: 100%; }

.contact-phone {
  background-color: #e88136;
  opacity: 0.8;
  height: 63px;
  width: 29%;
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  left: 71%;
  top: 15%; }
  .contact-phone h3 {
    padding-left: 15%; }

.modal {
  text-align: center; }
  .modal .keywords input {
    height: 120px; }
  .modal .modal-header {
    border: none; }
  .modal .close {
    opacity: 1; }
  .modal .modal-dialog {
    width: 60%; }

@media (min-width: 992px) and (max-width: 1199px) {
  #features {
    font-size: 15px; }
    #features p:before {
      margin-right: 20px; }
    #features p {
      margin: 35px 0 0 0; }
  #order {
    height: 760px; }
  #clients .clients-item img {
    margin: 5px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #features .feature-text {
    position: inherit; }
  #features p:before {
    content: url("../img/blue-dot.png");
    margin-right: 15px; }
  #features p {
    margin: 10px; }
  #order {
    height: 760px; }
  #advertising-blue p {
    padding-top: 25%; }
  .clients-item {
    height: 120px; }
    .clients-item img {
      width: 140px;
      margin: 10px; }
  .contact-phone {
    width: 32%;
    left: 68%; } }

@media (max-width: 767px) {
  #features .feature-text {
    position: inherit; }
  #features p:before {
    content: url("../img/blue-dot.png");
    margin-right: 15px; }
  #features p {
    margin: 10px; }
  #advertising-blue:before {
    height: 100px;
    margin-top: -3px; }
  #advertising-blue p {
    padding-top: 35%; }
  .clients-item {
    height: 120px; }
    .clients-item img {
      width: 120px;
      margin: 10px !important; }
  #scene-button .layer.button-rocket-second {
    left: 0% !important; }
    #scene-button .layer.button-rocket-second img {
      width: 100%; }
  .contact-phone {
    left: 40%;
    width: 60%;
    height: 40px; }
    .contact-phone h3 {
      font-size: 20px;
      margin-top: 5%; }
  #scene .order-form {
    margin-left: 10%; }
    #scene .order-form .keywords input {
      height: 140px; }
  #order .order-blank {
    width: 90%; }
    #order .order-blank input {
      height: 30px; }
    #order .order-blank img {
      width: 100%; }
    #order .order-blank h3 {
      font-size: 20px;
      margin-top: -14% !important; }
  #top-content .top-text h1 {
    font-size: 35px; }
  #contact {
    padding-top: 0; }
  #results .owl-buttons .owl-prev {
    background: url("../img/small-arrow.png");
    background-repeat: no-repeat;
    height: 29px;
    width: 15px; }
  #results .owl-buttons .owl-next {
    background: url("../img/small-arrow-next.png");
    background-repeat: no-repeat;
    height: 29px;
    width: 15px; }
  .modal .modal-dialog {
    width: auto; }
  .modal .button-rocket img {
    width: 100%; }
  .modal .button-rocket h3 {
    font-size: 20px; }
  .navbar-brand {
    margin-left: 25px; } }
