footer#main-footer
        .container
            #footer-info
                #f-phone.footer-item.col-lg-3.col-md-12.col-sm-12.col-xs-12
                    .footer-img
                    .footer-text
                        p (044) 500-76-90
                        p (067) 892-04-01
                        p (063) 288-97-22
                #f-email.footer-item.col-lg-3.col-md-12.col-sm-12.col-xs-12
                    .footer-img
                    .footer-text
                        p manager@reclamare.com.ua
                #f-skype.footer-item.col-lg-3.col-md-12.col-sm-12.col-xs-12
                    .footer-img
                    .footer-text
                        p skype: reclamare-ua
                #f-adress.footer-item.col-lg-3.col-md-12.col-sm-12.col-xs-12
                    .footer-img
                    .footer-text
                        p.
                            г.Киев,
                            Сурикова, 3 корп 8-Б

            #footer-social
                #so-vk.social-item
                #so-tw.social-item
                #so-fb.social-item
                #so-gl.social-item
            #footer-copiright.fwight
                p.
                    2011 – 2016 «Веб-студия Reclamare». "RECLAMARE" является зарегистрированной торговой маркой. Все права защищены. Копирование или использование материалов сайта запрещено.


