$top-color:#21a6fa;
$top-content-color:#009cff;
$white: white;
$feature-color:#777373;
$orange:#e88136;
$space-color:#032649;
$color-light-grey:#d3d3d3;
$grey:#aeaeae;
$imgPath: '../img/';
$padding:15px 15px 0;
$font_path: "../fonts/";